body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #ffffff;
    color: #333;
    font-size: 12px;
}

h1, h2, h3, h4 {
    margin: 0 0 10px 0;
    text-align: center;
    font-size: 14px;
}

form {
    max-width: 100%;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e80b0b;
    border-radius: 5px;
    font-size: 10px;
}

button {
    width: 100%;
    padding: 10px 20px;
    background-color: #ff0404;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #39cd17;
}

.results h2, .results h3, .results h4 {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px;
}

#serviceButtons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 14px;
}

.service-button {
    flex: 1;
    padding: 10px;
    margin: 0 2px;
    text-align: center;
    background-color: #f8f9fa;
    border: 2px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.service-button.selected {
    background-color: #007bff;
    color: #fff;
}

.service-button:not(.selected):hover {
    background-color: #e2e6ea;
}

#sizeLimitMessage {
    color: red;
    font-size: 16px;
    text-align: center;
}
#refreshButton {
    background-color: #4CAF50; /* สีพื้นหลัง */
    color: white; /* สีข้อความ */
    border: none; /* ไม่มีเส้นขอบ */
    padding: 10px 20px; /* ระยะห่างภายในปุ่ม */
    text-align: center; /* จัดข้อความให้อยู่กลาง */
    font-size: 16px; /* ขนาดข้อความ */
    cursor: pointer; /* เปลี่ยนเมาส์เป็นรูปมือ */
    border-radius: 5px; /* มุมโค้ง */
}

#refreshButton:hover {
    background-color: #45a049; /* สีเมื่อเมาส์อยู่เหนือปุ่ม */
}
